.h5footer{
  font-size: 20px;
  color:black;
}
footer{
    width: 100%;
    height: 270px;
    color: black;
    margin-top: 50px;
    position: absolute;
    background: rgb(255,255,255,0.70);
    top:640px;
    bottom: 0px;
    font-size: 16px;
    text-align: center;
    font-family: 'VT323', monospace;
}
.footer2{
    width: 100%;
    height: 30px;
    color: black;
    position: absolute;
    background: rgb(255,255,255,0.70);
    top:577px;
    bottom: 0px;
    font-size: 16px;
    text-align: center;
    font-family: 'VT323', monospace;
}
.formreset{
    margin-top:50px;
    flex-direction: column;
    min-width: 0;
    word-wrap: break-word;
    background-clip: border-box;
    background: rgb(242,1,151);
    background: linear-gradient(153deg, rgba(242,1,151,0.20) 32%, rgba(72,203,184,0.30) 86%);
    width:100%;
    height:330px;
    font-family: 'VT323', monospace;
    font-size:17px;
    border-radius:5px;
    color:white;
    margin-left:300px;
}
.formemail{
  margin-top:50px;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  background: rgb(242,1,151);
  background: linear-gradient(153deg, rgba(242,1,151,0.20) 32%, rgba(72,203,184,0.30) 86%);
  margin-left:600px;
  width:45%;
  height:330px;
  font-family: 'VT323', monospace;
  font-size:17px;
  border-radius:5px;
  color:white;
}
.backgroundema{
    background-image:url("../img/ResetPassword.gif");
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size:cover;
    height:100%;
  }
.backgroundreset{
    background-image:url("../img/ResetPassword.gif");
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size:cover;
    height:100%;
}
.backgroundhome{
    background-image:url("../img/Background.gif");
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size:cover;
    height:100%;
}
.backgroundreg{
    background-image: url("../img/Background2.gif");
    background-attachment: fixed;
    background-repeat:no-repeat;
    background-size:cover;
    height:100%;
}
.formlogin {
  margin-top:50px;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  background: rgb(149,208,75);
  background: linear-gradient(153deg, rgba(149,208,75,0.50) 32%, rgba(76,238,245,0.30) 100%);
  margin-right:900px;
  width:35%;
  height:330px;
  font-family: 'VT323', monospace;
  font-size:17px;
  border-radius:5px;
  color:white;
}
.formreg{
  margin-top:50px;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-clip: border-box;
  background: rgb(1,188,242);
  background: linear-gradient(153deg, rgba(1,188,242,0.30) 32%, rgba(152,203,72,0.50) 100%);
  margin-left:600px;
  width:45%;
  height:410px;
  font-family: 'VT323', monospace;
  font-size:17px;
  border-radius:5px;
  color:white;
}
.forminput{
  height: 25px;
  width: 360px;
  background-color: transparent;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: white;
  outline:0;
  color:white;
}
.forminput:focus{
  border-width: 0px 0px 3px 0px;
  border-image:linear-gradient(to right,
  #c4e17f 0px, #c4e17f 50px,
  #f7fdca 50px, #f7fdca 100px,
  #fad071 100px, #fad071 150px,
  #f0766b 150px, #f0766b 200px,
  #db9dbe 200px, #db9dbe 250px,
  #c49cdf 250px, #c49cdf 300px,
  #6599e2 300px, #6599e2 350px,
  #61c2e4 350px, #61c2e4 400px) 10;
}
.forminputmail{
  height: 25px;
  width: 500px;
  background-color: transparent;
  border-style: solid;
  border-width: 0px 0px 2px 0px;
  border-color: white;
  outline:0;
  color:white;
}
.forminputmail:focus{
  border-width: 0px 0px 3px 0px;
  border-image:linear-gradient(to right,
  #c4e17f 0px, #c4e17f 50px,
  #f7fdca 50px, #f7fdca 100px,
  #fad071 100px, #fad071 150px,
  #f0766b 150px, #f0766b 200px,
  #db9dbe 200px, #db9dbe 250px,
  #c49cdf 250px, #c49cdf 300px,
  #6599e2 300px, #6599e2 350px,
  #61c2e4 350px, #61c2e4 400px) 10;
}
.cardkepala {
  padding: 0.75rem 1.25rem;
  margin-bottom: 0;
  border-bottom: 1px solid rgba(0, 0, 0, 0.125);

}
.cardemail {
  text-align: center;
  padding: 2rem 1.25rem;
  margin-bottom: 0;

}
.navbar{
  width: 100%;
  border-bottom: 1px solid white;
  font-family: 'VT323', monospace;
  color:white;
}
.logogambar{
  width:100px;
}
::placeholder {
  color: rgb(191, 191, 191);
}
.nav-link{
  font-size:19px;
  color:white;
}
.iconlogo{
  width:30px;
  padding-right: 10px;
  margin-bottom: 5px;
}
.iconnavigate{
  width:40px;
  padding-right: 10px;
  margin-bottom: 5px;
}
.iconlogin{
  width:40px;
  padding-right: 10px;
  margin-bottom: 5px;
}
.iconnav{
  width:30px;
  padding: 10px;
  margin-bottom: 5px;
}
.btnlink {
  align-items: center;
  color: blue;
  background-color: #3490dc;
  border-color: #3490dc;
}
.btnmail:hover {
  color: #fff;
  background-color: #227dc7;
  border-color: #2176bd;
}
.btnmail:focus, .btnmail.focus {
  color: #fff;
  background-color: #227dc7;
  border-color: #2176bd;
  box-shadow: 0 0 0 0.2rem rgba(82, 161, 225, 0.5);
}
.invalid-feedback {
  display: none;
  width: 100%;
  margin-top: 0.25rem;
  color: grey;
}
.form-control{
  width:250px;
}
.linka{
  color:black;
}
.linka:hover{
  text-decoration: none;
  color: grey;
}
